.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* zona derecha*/
.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
background: #dac9df;
}

/* contenido */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/*HEADER */
.header {
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e2e8f0;
}

.header-title {
  font-weight: bold;
  color: #1e293b;
}

/* usuario */
.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-user .icon {
  font-size: 28px;
  color: #64748b;
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.email {
  font-size: 14px;
  font-weight: 600;
}

.role {
  font-size: 12px;
  color: #64748b;
  text-transform: uppercase;
}

/* logout */
.logout-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ef4444;
  margin-left: 10px;
}

.logout-btn:hover {
  color: #b91c1c;
}