/*cBLOQUE SUPERIOR */
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;
  gap: 12px;

  width: 100%;
  padding: 10px 0;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

/* TÍTULO CENTRADO */
.logo-center {
  font-size: 22px;
  font-weight: bold;
  color: #f5eff7;
  text-align: center;
  margin: 0;
}

/* USUARIO */
.sidebar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 40px 40px
}

.sidebar-icon-user {
  font-size: 68px;
  color: #f5eff7;

  margin-top: 80px;
  margin-bottom: 50px;
}

/* AVATAR */
.sidebar-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #81638b;
  background: white;
}

.sidebar-icon-user {
  font-size: 68px;
  color: #f5eff7;
}

/* EMAIL */
.sidebar-email {
  font-size: 15px;
  color: #f5eff7;
  text-align: center;
  word-break: break-word;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #530b69;
  color: #81638b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #f5eff7;
}

.logo {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #f5eff7;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* LINKS */
.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: #f5eff7; 
  border-radius: 8px;
  transition: 0.2s ease;
}

/* HOVER */
.link:hover {
  background: #a27bb3;
  color: white;
  transform: translateX(3px);
}

/* ACTIVO */
.active {
  background: #81638b;
  color: white;
  font-weight: 500;
}

/* LOGOUT */
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #81638b;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s;
}

.logout:hover {
  background: #6d5376;
}